body {
  background: red;
}

.ui.left.overlay.sidebar {
  /* visibility: visible; */
  transform: translate3d(-80%, 0, 0);
}

.wide {
  width: 80px;
  transition: 0.4s;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.hover {
  width: 400px;
}
